<ul id="menu-main" class="mnav dropdown fix">
  <% if can? :create, Article %>
      <li>
        <%= link_to "New article", new_article_path %>
      </li>
  <% end %>
  <% unless user_signed_in? %>
      <li class="menu-item menu-item-type-post_type menu-item-object-page">
        <%= link_to "Login", new_admin_session_path %>
        <ul class="sub-menu">
          <li class="menu-item menu-item-type-post_type menu-item-object-page;">
            <%= link_to "Facebook",  user_omniauth_authorize_path(:facebook) %>
          </li>
          <li class="menu-item menu-item-type-post_type menu-item-object-page;">
            <%= link_to "Twitter",  user_omniauth_authorize_path(:twitter) %>
          </li>
        </ul>
      </li>
  <% end %>
  <% if user_signed_in? or admin_signed_in? %>
      <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
  <% end %>
</ul>
<%= form_tag({ :controller => :articles, :action => :index }, :class => "searchform", :method => :get) do %>
    <span class="left"></span>
    <%= text_field_tag :s,
                       "Search",
                       :class => "s",
                       :onfocus => "if (this.value == 'Search') {this.value = '';}",
                       :onblur => "if (this.value == '') {this.value = 'Search';}"
    %>
    <span class="right"></span>
    <%= submit_tag "Go", :class => "searchsubmit" %>
<% end %>